body{
    background-color:#03d7fc;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    justify-content:center;
    display:flex;
    
}
div{
    border-radius:5px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    background-color:#fff;
    padding:30px;
    align-items:center;
    margin-bottom:180px;
    margin-top:80px;
    text-align:center;
    max-width:300px;
}
h2{
    color:#1d3557;
    align:center;
}

.longinput{
    padding:5.8px;
    width:300px;
    border-radius:3px;
}

form{
    margin:2px;
   flex-direction:column;
}

#calculateBMI{
    background-color:#0d94ca;
    border:none;
    cursor:pointer;
}

#result{
    margin-top:10px;
    margin-bottom:13px;
    padding:5.8px;
    width:285px;
    height:20px;
    box-shadow:0 0 15px rgba(51,51,51,0.8)
}