body{
    background-color:#03d7fc;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    justify-content:center;
    display:flex;
    
}
div{
    border-radius:5px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    background-color:#fff;
    padding:30px;
    align-items:center;
    margin-bottom:180px;
    margin-top:80px;
    text-align:center;
    max-width:300px;
    margin-right:10px;
    margin-left:10px;

}
h2{
    color:#1d3557;
    align:center;
}

.longinput{
    padding:5.8px;
    width:300px;
    border-radius:3px;
}

form{
    margin:2px;
   flex-direction:column;
  
}

#calculateBMI{
    background-color:#0d94ca;
    border:none;
    cursor:pointer;
    width:315px;
    padding:5.8px;
    border-radius:3px;
}

#result{
    margin-top:10px;
    margin-bottom:13px;
    padding:5.8px;
    width:290px;
    height:20px;
    background-color:rgba(51,51,51,0.12);
    border-radius:3px;
    color:#1d3557;
    font-size:18px;

}
/*for mobile devices*/
@media (max-width:641px){
    div{
        margin:10px;
        padding:5px;
        max-width:300px;
        margin-bottom:250px;
        box-sizing:border-box;
        width:90%;
    }
    #result{
        width:270px;
        box-sizing:border-box;
    }
    .longinput{
        width:270px;
        box-sizing:border-box;
    }
    #calculateBMI{
        width:270px;
        box-sizing:border-box;
    }
}
